@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1><strong>Booze Boxes</strong></h1>
    <p class="lead">Monthly Liquor Subscription Service</p>
    <p><a href="~/Home/Products" class="btn btn-primary btn-lg">See our products!  &Rang;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Beer</h2>
        <img src="~/Photo/beerbarley.jpg" height="230" width="385" />
        <p>
            Whether you're into triple IPA's or refreshing hard apple ciders, we have the  drink
            for you!
        </p>
        <p>** gives you delicious and refreshing monthly liquor packages.</p>
        <p><a class="btn btn-default" href="~/Account/Login">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h2>Liquor</h2>
        <img src="~/Photo/whisky.jpg" height="230" width="355" />
        <p>From a Macallan 30 year neat to somemthing to mix with soda, you can find it here!</p>
        <p><a class="btn btn-default" href="~/Account/Login">Learn more &raquo;</a></p>
    </div>
</div>
