@{
    ViewBag.Title = "Home Page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron">
    <h1><strong>Booze Boxes</strong></h1>
    <p class="lead">Monthly Liquor Subscription Service</p>
    <p><a href="~/Home/Products" class="btn btn-primary btn-lg">See our products!  &Rang;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Beer</h2>
        <a href="~/Account/Login"><img src="~/Photo/beerbarley.jpg" height="360" width="570" /></a>
            <p>
                Whether you're into triple IPA's or refreshing hard ciders, we have the  drink
                for you!
            </p>
            <p><a class="btn btn-success" href="~/Account/Login">Learn more &raquo;</a></p>
</div>
    <div class="col-md-6">
        <h2>Liquor</h2>
        <a href="~/Account/Login"><img src="~/Photo/whisky.jpg" height="360" width="560" /></a>
        <p>From a Macallan 30 year neat to somemthing to mix with soda, you can find it here!</p>
        <p><a class="btn btn-success" href="~/Account/Login">Learn more &raquo;</a></p>
    </div>
</div>
