
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Box Products</h2><br />

<h4>Craft Beer</h4>
<h4>Non-craft Beer</h4>
<h4>Rum</h4>
<h4>Cognac</h4>
<h4>Vodka</h4>
<h4>Tequila</h4>
<h4>Gin</h4>
<h4>Red Wine</h4>
<h4>White Wine</h4>
<h4>Champagne</h4>
