
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Available Box Products</h2>
<h3>Craft Beer</h3>
<h3>Non-craft Beer?</h3>
<h3>Rum</h3>
<h3>Vodka</h3>
<h3>Tequila</h3>
<h3>Wine</h3>
<h3>Gin</h3>



