@{
    ViewBag.Title = "ThankYou";
}

@using (Html.BeginForm("Index", "Home"))
{
    <h2>Thank you for subscribing!</h2>

    <div>
        <input type="submit" value="Return Home" class="btn btn-success" />
    </div>


}